@charset "utf-8";
/* CSS Document */
.header1 ul {
    list-style-type: none;}
.header1 li {
    display: inline-block;}
.header1 a {
    font-size: 20px;
    color: white;
    margin: 0 10px;
    text-align:center;
}
.header1 a:hover{
    text-decoration: none;
    list-style-type: none;
    color : aqua;
    cursor: pointer;
    background-color: inherit;
}
.fl{
    float: left;
}
.fc{
    float: top;
}
.fr{
    float: right;
}
.header3  ul {
    list-style-type: none;
    padding: 0px;

}
.header3 li {
    display: inline-block;
    align: center;
}
.header3 ul li a {
    font-size: 20px;
    color: white;
    margin: 0 10px;
    text-align:center;
}
.header3 li a:hover {
    text-decoration: none;
    list-style-type: none;
    color : aqua;
    cursor: pointer;
    background-color: inherit;
}
.fil{
    filter: invert(2);
    margin:0 5px;
}

.footer ul  {
list-style-type: none;
    color: black;
    padding-left: 0px;

}
.footer ul li a {
    color: black;
}
.footer li a:hover {
    text-decoration: none;
    list-style-type: none;
    color : red;
    cursor: pointer;
}
.frres{
    margin: 20px 0;
}
.frres input{
    border-radius: 5px;
    border: 1px solid darkgray;

    width: 100%;
    margin: 10px 0px;
    padding: 5px;
}
.frres button{
    margin:10px 10px 25px 0px;
}
.bd{
    border: 1px solid gray;
padding: 10px 0px;

}

.main ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main ul li{
    text-align: left;

    cursor: pointer;
    margin-right: 5px;
    transition: all 1000ms;
}
.main li ul{
    display:block;
}
.main ul li:hover ul{
    display: block;
}
.main ul li:hover{
    color:white;
   /* background: white;*/
    width: 100%;
}
.main ul li:hover>a{
    color: white;
}
.main li>a {
    color: black;
    text-decoration: none;
}
.text-left{
    text-align: left;
}
.padding-10{
    padding: 10px;
}
.padding-5{
    padding: 5px;
}
.margin-10{
    margin: 10px;
}
.margin-05{
    margin: 5px;
}
form>button:hover{
    cursor: pointer;
}